Repository instill-ai/connector-ai, pull requests merged in 2023-09, with the labels that each got.

#43 chore: add support for openai org header
  pkg/openai/main.go
Labels: 💧 Instill VDP

#44 chore: fix instill model unmarshal bug
  pkg/instill/config/definitions.json
  pkg/instill/config/seed/data.json
  pkg/instill/image_classification.go
  pkg/instill/instance_segmentation.go
  pkg/instill/keypoint_detection.go
  pkg/instill/main.go
  pkg/instill/object_detection.go
  pkg/instill/ocr.go
  pkg/instill/semantic_segmentation.go
  pkg/instill/text_generation.go
  pkg/instill/text_to_image.go
Labels: 💧 Instill VDP

#45 chore: fix instill model connector output format
  pkg/instill/config/definitions.json
  pkg/instill/config/seed/data.json
  pkg/instill/image_classification.go
  pkg/instill/instance_segmentation.go
  pkg/instill/keypoint_detection.go
  pkg/instill/object_detection.go
  pkg/instill/ocr.go
  pkg/instill/semantic_segmentation.go
  pkg/instill/text_generation.go
  pkg/instill/text_to_image.go
Labels: 💧 Instill VDP

#46 chore: update OpenAI connector definition
  pkg/openai/config/definitions.json
  pkg/openai/config/seed/generate_definitions.py
Labels: 💧 Instill VDP

#47 chore: update instillFormat in Instill-Model connector
  go.mod
  go.sum
  pkg/instill/config/definitions.json
  pkg/instill/config/seed/data.json
Labels: 💧 Instill VDP

#49 docs(readme): update readme and contributing guidelines
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/SECURITY.md
  README.md
Labels: 💧 instill-vdp

#50 refactor(all): adopt new base interfaces from Component pkg
  go.mod
  go.sum
  pkg/huggingface/main.go
  pkg/instill/config/seed/data.json
  pkg/instill/image_classification.go
  pkg/instill/instance_segmentation.go
  pkg/instill/keypoint_detection.go
  pkg/instill/main.go
  pkg/instill/object_detection.go
  pkg/instill/ocr.go
  pkg/instill/semantic_segmentation.go
  pkg/instill/text_generation.go
  pkg/instill/text_to_image.go
  pkg/integration_test.go
  pkg/main.go
  pkg/openai/config/seed/data.json
  pkg/openai/main.go
  pkg/stabilityai/main.go
Labels: instill vdp

#51 chore: fix integration tests
  pkg/integration_test.go
Labels: instill vdp

#53 chore: add link to get api keys
  pkg/stabilityai/config/definitions.json
  pkg/stabilityai/config/seed/resource.json
Labels: instill vdp

#52 feat(instill-model): improve UX for setting a Instill model
  pkg/instill/config/definitions.json
  pkg/instill/config/seed/data.json
  pkg/instill/config/seed/resource.json
  pkg/instill/main.go
Labels: instill vdp
